@import './base.css';

#root {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

/* 统一 Win11 风格优美滚动条 */
.win-scroll {
    overflow-y: auto;
}
.win-scroll::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}
.win-scroll::-webkit-scrollbar-thumb {
    background: #CCCCCC;
    border-radius: 3px;
}
.win-scroll::-webkit-scrollbar-track {
    background: transparent;
}
.win-scroll:hover::-webkit-scrollbar-thumb {
    background: #999999;
}